<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/product/{id}/edit(id=${product.productId})}"
      th:object="${product}" method="POST">
    Name:
    <input type="text" th:field="*{name}" th:value="*{name}" />
    <br/>
    Cost:
    <input type="text" th:field="*{cost}" th:value="*{cost}"/>
    <br/>
    Category:
    <input type="text" th:field="*{category}"  th:value="*{category}"/>
    <br/>
    <input type="submit" value="Save" />
</form>
</body>
</html>