<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table >
    <tr>
        <th>NameOfProduct</th>
        <th>Cost</th>
        <th>Add</th>
    </tr>

    <tr th:each="product : ${products}"
         >
        <form th:action="@{/addProductToBasket/{id}(id=${product.productId})}" th:method="POST">
        <td th:text="${product.name}">1 </td>
        <td th:text="${product.cost}">1 </td>
       <td ><input type="submit" value="Add"></td>
            <td  th:if="${role!='ROLE_ADMIN'}" ><a th:href="@{/product/{id}/edit(id=${product.productId})}">Edit</a></td>
    </form>
    </tr>

</table>
<a th:href="@{/onlineBasket}">Basket</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>