<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<form th:action="@{/registration}"
      th:object="${user}" method="POST">
    First Name:
    <input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>
    Password:
    <input type="text" th:field="*{password}"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <br/>
    Email:
    <input type="text" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <input type="submit" value="Create"/>
</form>
<body>

</body>
</html>